.button {
    padding: 1rem 4rem;
    cursor: pointer;    
    font-family: $roboto;
    font-size: $medium;
    font-weight: $bold;
}
.button-primary {
    border: none;
    color: $white;
    font-weight: $regular;
    background-color: $blue-bell;

    &:hover {
        background-color: $soap;
    }
    &:focus {
        background-color: #828485;
    }
}