.main {
    padding-top: 12em;
    border-right: 1px solid $platinum;
}
.message-dashboard {
    text-align: center;
    p {
        text-align: center;
        padding: 0 200px;
    
    }
}
img {
    max-width: 40%;
    
}

span {
    font-weight: $bold;
}